<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.4" targetFramework="net45" />
  <package id="Google.Ads.Common" version="3.18.0" allowedVersions="[3.18.0]" targetFramework="net45" />
  <package id="Google.AdWords" version="18.34.0" allowedVersions="[18.34.0]" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net45" />
</packages>